@using WebApp.Models 

@model Category //Tell the view what model it should expect to recieve
<html>
<body>
    <h3>Category: @Model.CategoryId</h3> @* pull data from the view you sent over. @Model creates an instance of the data you just sent over. *@

</body>
</html>