@model SalesViewModel;
@section title{

<div class="row">
    <div class="col-7"> Cashier's Console  </div>
        <div class="col-2">
            <label for="cashier">Cashier Name:</label>
        </div>
        <div class="col-3">
        @*             Display Cashier's name here *@
    </div>
 

</div>
}
<br/>

<div class="row">
    <div class="col-4">
        <div class="text-danger" asp-validation-summary="All"></div>
        @*Category Selection*@
       <select asp-for="SelectedCategoryId" class="form-control">
           <option>- Please Select Category -</option>
            @if (Model.Categories != null && Model.Categories.Count() >0)
            {
                foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            }
        </select>
        <br/>
        <div id="productsPartial">
            @*Product List*@
        </div>
        <br/>
        <div id="salesPartial">
            @*Product Details*@
        </div>
        <br/>
        <div >
        @*Sales form*@
        <form method="post" asp-controller="sales" asp-action="sell" id="formSale">
            <input asp-for="SelectedProductId" type="hidden"/>
            <div class="form-group">
                <label asp-for="QuantityToSell"></label>
                <input asp-for="QuantityToSell" class="form-control" type="number" min="1"/>

            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </div>

</div>
    <div class="col">
        @*         List of transactions*@
        @await Component.InvokeAsync("Transactions", "Cashier1")
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $("#formSale").hide();
            $("#QuantityToSell").val("");

            //Load products if category is already selected
           var selectedCategoryId = $("#SelectedCategoryId").val();
            if (selectedCategoryId > 0)
               {
                loadProducts(selectedCategoryId);

               }
            //Handle category selection
            $("#SelectedCategoryId").on("change", function () { //when there's a change on the html element with that #id, run the function
                loadProducts($(this).val())

            })

            //Handle product selection
            $("#productsPartial").on("click", ".product-row", function () {
                //Remove highlight from the previous row
                $(".product-row").removeClass("highlight");
                $(this).addClass("highlight");

                //Get the productId from the product-Id attribute
                var productId = $(this).attr("product-Id");
                $("#salesPartial").load("/sales/SalesPartial", {productId: productId});

                if (productId > 0) {
                    $("#SelectedProductId").val(productId);
                    $("#formSale").show();
                }
                else {
                    $("#SelectedProductId").val("");
                    $("#formSale").hide();
                }

            });
        });
        function loadProducts(categoryId)
        {
            $("#productsPartial").load("/sales/ProductsByCategoryPartial", { categoryId: categoryId }); //the function loads the
            //partial view in the products controller into the dive with the #id, and passes the category id of the selected item
            $("#salesPartial").html(""); // this line of code clears the previously selected product info
            $("#formSale").hide();
        }
    </script>
}