@* Here we create a template for all of our razor pages (Views) where we can render the body content for all those pages in one place. So instead of defining the base html on every page
We use this template to render every page's contents. *@
<!DOCTYPE html>
    <html>
    <head>
        <title>Inventory Management System</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid justify-content-start">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Supermarkert</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls=""
                        aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collpase collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/home/index">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" href="/categories/index">Categories</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </nav>
        </header>
        <div class="container">
            <div class="pb-3">
                @RenderSection("title", false)
                <hr />
            </div>
            <div>
            @RenderBody()
            </div>
        </div>
    </body>
    </html>