@* Here we create a template for all of our razor pages (Views) where we can render the body content for all those pages in one place. So instead of defining the base html on every page
We use this template to render every page's contents. *@
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
        @RenderBody()
        </div>
    </body>
    </html>